{% set component = {
  modifier: modifier ?? null,
  image: image ?? entry.bannerImage.one() ?? null,
  headline: headline ?? entry.title ?? entry.headline ?? null,
} %}

{% if component.image|length %}
	{% set banner = craft.imager.transformImage(component.image, {
    width: 1680,
    height: 440,
    mode: 'crop',
    jpegQuality: 100,
    position: component.image.getFocalPoint()
  }) %}
	{% if banner|length %}
		{% set url = banner.url %}
	{% else %}
		{% set url = "/assets/img/banner.jpg" %}
	{% endif %}
{% else %}
	{% set url = "/assets/img/banner.jpg" %}
{% endif %}


<div class="c-banner {% if component.modifier|length %}c-banner--{{ component.modifier }}{% endif %}" style="background-image: linear-gradient(rgba(31, 31, 31, 0.6), rgba(31, 31, 31, 0.6)), url({{ url }});">
	{% if component.headline|length %}
		<div class="o-wrapper">
			<h1 class="c-banner__headline">{{ component.headline }}</h1>
		</div>
	{% endif %}

</div>
