<nav class="nav-secondary">
	{% set secondary = craft.entries.section('secondaryMenu') %}
	<ul class="nav-secondary__menu menu">
		{% for entry in secondary %}
			{% if entry.relatedEntry | length %}
				{% set url = entry.relatedEntry.one().getUrl() %}
			{% else %}
				{% set url = entry.customUrl %}
			{% endif %}
			<li>
				<a href="{{ url }}">{{ entry.title }}</a>
			</li>
		{% endfor %}
	</ul>
	{% include '_partials/nav-weather' %}
</nav>
