{% set navMenu = header.secondaryNavigation.all() %}

<nav class="nav-secondary">
	<ul class="nav-secondary__menu menu">
		{% for link in navMenu %}
			{% if link.linkField.getUrl() %}
				<li>
					<a target="{{link.linkField.target}}" href="{{ link.linkField.getUrl() }}">{{ link.linkField.getText() }}</a>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
	{% include '_partials/nav-weather' %}
</nav>
