<ul class="social-{{ template }} social-links">

    {% if socialLinks.facebook %}
        <li class="social__item social__item--facebook">
            <a href="{{ socialLinks.facebook }}" target="_blank" title="Facebook">Facebook</a>
        </li>
    {% endif %}

    {% if socialLinks.twitter %}
        <li class="social__item social__item--twitter">
            <a href="{{ socialLinks.twitter }}" target="_blank" title="Twitter">Twitter</a>
        </li>
    {% endif %}

    {% if socialLinks.instagram %}
        <li class="social__item social__item--instagram">
            <a href="{{ socialLinks.instagram }}" target="_blank" title="Instagram">Instagram</a>
        </li>
    {% endif %}

</ul>
