.content-block {
	@extend %sm-wrapper;
   text-align: center;
}

.content-block__headline {
   @extend %sans;
   @include font-size(36px);
   margin-bottom: 20px;
   text-transform: uppercase;
   color: $maroon;
}

.content-block__content {
	p:last-of-type {
		margin-bottom: 0
	}
}

.content-block__link {
	@extend .cta-link;
	display: inline-block;
	margin-top: 1rem;
}

// Intro Block
.intro-block {
	@extend .content-block;
}

.intro-block__headline {
	@extend .content-block__headline;
}

.intro-block__content {
	@extend .content-block__content;
}
