$line-height: 2.5rem;

label {
   @extend %headline;
   @include font-size(15px);
   text-transform: uppercase;
   display: block;
   color: $charcoal;
}

.field-instructions {
   @extend .small;
   margin-top: .25rem;
}

.hidden {
   display: none;
}

.form-control,
input[type=email],
input[type=tel],
input[type=number],
input[type=password],
input[type=phone],
input[type=search],
input[type=text],
textarea {
   @include font-size(17px);
   box-shadow: inset 0 1px 2px rgba(0, 0, 0, .05);
   border-radius: 0;
   border: 1px solid $white-smoke;
   outline: none;
   padding: .5rem 1rem .5rem 1rem;
   display: block;
   width: 100%;
   height: $line-height;
}

textarea {
  height: auto;
}

input[type=submit],
button[type=submit],
.submit-btn {
  @extend .btn;
  padding-bottom: 0.75rem;
  outline: none;
  appearance: none;
  border: 0;
  cursor: pointer;
  border-radius: 0;
}

// Validation
.parsley-error {
   background: rgba($red, 0.1);
}

.parsley-errors-list {
   margin: .25rem 0 0 0; padding: 0;
   list-style: none;
   @extend .small;
   color: $red;
}

// formie forms
.o-formie {
   --fui-label-font-size: 17px;
   --fui-label-color: #{$charcoal};
   --fui-input-font-size: 15px;
   --fui-input-line-height: 1.2;

   .fui-i {
      font-family: inherit;
   }
   .fui-instructions {
      color: inherit;
   }

   .fui-legend {
      @extend %headline;
      @include font-size(17px);
      text-transform: uppercase;
      display: block;
      color: $charcoal;
   }

   .fui-select {
      padding: 0.6rem;
      border: 1px solid $smoke;
      border-radius: 2px;
   }

   .fui-checkbox,
   .fui-radio {
      label {
         font-family: $serif;
         text-transform: none;
      }
   }
}


// sprout forms
.fields {
   .field {
      select {
         padding: 0.5rem;
         height: 40px;
         font-family: inherit;
         font-size: 15px;
         border: 1px solid $smoke;
         border-radius: 2px;
      }

      input[type=date] {
         padding: 0.5rem;
         height: 40px;
         border: 1px solid $smoke;
         border-radius: 2px;
      }

      &.phone {
         .phone-wrapper {
            display: flex;
            align-items: center;
            gap: 4px;
         }

         input[type=tel] {
            width: unset;
            display: inline-block;
         }
      }
   }
}