body {
   padding-top: 132px;

   @include mq($from: m) {
      padding-top: 146px;
   }

   &.with-announcement {
      padding-top: 210px;
   
      @include mq($from: m) {
         padding-top: 220px;
      }
   }
}

.header {
   position: fixed;
   top: 0; left: 0;
   width: 100%;
   display: block;
   z-index: 9999;
   box-shadow: 0 5px 14px 0 rgba(98,98,98,0.50);
   background: url(../img/svg/nav-primary-full.svg) left top no-repeat;
   background-size: cover;
}

.nav {
   background: $white;
   display: flex;
   align-items: center;
   justify-content: space-between;

   padding-top: 20px;
   padding-bottom: 20px;
	padding-left: $padding-content-sm;
	padding-right: $padding-content-sm;

	@include mq($from: l) {
		padding-left: $padding-content-md;
		padding-right: $padding-content-md;
	}
}

.nav__logo-link {
   width: 180px;
   height: auto;
   display: block;

   svg {
      display: block;
      width: 100%;
      height: auto;
   }

   @include mq($until: m) {
      width: 140px;
      // height: 48px;
   }
}

// Default Menu Styles
.menu {
   margin: 0; padding: 0;
   list-style: none;
   display: flex;
   & > li {
      margin-right: $padding-content-sm;
      &:last-child {
         margin-right: 0;
      }
   }
}

// Primary Nav Styles
.nav__menu {
   @extend %serif;
   letter-spacing: 1.5px;
   text-transform: uppercase;
   display: none;   
   justify-content: flex-end;
   align-items: center;

   li {
      margin-right: $padding-content-md;
   }
   
   a:not(.btn) {
      color: $charcoal;
      position: relative;
      display: block;
      
      &:before, &:after {
         content: '';
         width: 0;
         height: 2px;
         background: $red;
         position: absolute;
         bottom: -7px;
         transition: width 200ms ease-in-out;
      }
      &:before {
         left: 50%;
      }
      &:after {
         right: 50%;
      }
      &.active, &:hover {
         &:before, &:after {
            width: 10px;
         }
      }
   }

   @include mq($from: l) {
      display: flex;
   }
}

// Secondary Nav Styles
.nav-secondary {
   @extend %sans;
   width: 100%;
   background: $maroon;
   color: $white;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   position: relative;
   z-index: 10;

	a {
		transition: all 200ms ease-in-out;
		&:hover {
			color: darken($white, 10);
		}
	}
}

.nav-secondary__menu {
   display: none;
   align-items: center;
   border-right: 1px solid rgba($gold, 0.3);

   li {
      margin-right: $padding-content-sm * 1.25;
      @include font-size(17px);
   }

   @include mq($from: m) {
      display: flex;
   }
}

.nav-secondary__menu, .nav-weather__cta {
   padding: ($padding-content-sm * 0.4) $padding-content-sm ($padding-content-sm * 0.3) $padding-content-sm;
}

// Nav Weather
.nav-weather {
   @extend %sans;
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: space-between;
   position: relative;
   background: $maroon;
   color: $white;
}

.nav-weather__cta {
   margin: 0;
}

.nav-weather__cta-label,
.nav-weather__cta-divider {
   display: none;

   @include mq($from: sm) {
      display: inline-block;
   }
}

.nav-weather__cta-divider {
   margin: 0 .35rem;
}

.weather-widget {
   display: none;
}

.nav__toggle {
   background: url(../img/svg/nav-toggle.svg) no-repeat center center / contain;
   display: none;
   width: 30px;
   height: 30px;
   text-indent: -9999px;
   border: 0;
   outline: none;
   margin: 0;
   padding: 0;
   right: 0;
   z-index: 9999;

   @include mq($until: l) {
      display: block;
   }
}

.nav-mobile {
   display: none;
   position: absolute;
   top: 100%; left: 0;
   width: 100%;
   @extend %gradient;

   // don't extend past screen, make sure its scrollable
   max-height: calc(98dvh - var(--header-height, 0px));
   overflow: scroll;

   &.show {
      display: block;
   }

   @include mq($from: l) {
      &.show {
         display: none;
      }
      display: none;
   }
}

.nav-mobile__menu {
   display: block;
   width: 92%;
   max-width: 600px;
   margin: auto;
   border-top: 1px solid $white-smoke;
   border-bottom: 1px solid $white-smoke;
   padding-top: 1rem;
   padding-bottom: 1rem;
   letter-spacing: 1.5px;
   text-transform: uppercase;

   li {
      text-align: center;
      display: block;
      width: 100%;
      @include font-size(16px);

      &.sm-only {
         @include mq($from: m) {
            display: none;
         }
      }

      a {
         display: block;
         padding: .5rem;
         &:hover {
            color: darken($charcoal, 5);
         }
         &:before, &:after {
            display: none;
         }
      }
   }
}

.mobile-weather {
   position: absolute;
   top: 0; left: 0;
   width: 100%;
   @include mq($from: nav) {
      display: none;
   }
}
