// =============================================================================
// COMPONENTS/PAGE-LINK
// =============================================================================


.c-page-link {
  display: block;
  width: 100%;
}

.c-page-link__image {
  margin-bottom: $padding-content-sm;
  display: block;
  width: 100%;
  height: auto;

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.c-page-link__headline {
  @extend %headline;
}

.c-page-link__text {
}

.accommodations__link {
   @extend .cta-link;
   position: absolute;
   bottom: 0; left: 0;
}