// Default Styles
.sidebar-menu, .sidebar-cta {
   @extend %shadow;
   @extend %gradient;
   margin-bottom: 4rem;
   border-bottom: 2px solid rgba($black,.25);
   &:last-child {
      margin-bottom: 0;
   }
}

// Sidebar Menu
.sidebar-menu__title, .sidebar-menu__list {
   padding: 1.25rem 2rem 1rem 2rem;
}

.sidebar-menu__title {
   @extend %headline;
   @include font-size(28px);
   color: $white;
   background: $maroon;
   position: relative;
   margin: 0;
   display: block;
}

.sidebar-menu__list {
   list-style: none;
   margin: 0;
   li {
      padding: .75rem 0 .25rem 0;
      border-bottom: 1px dashed $white-smoke;
      a {
         @extend %headline;
         @include font-size(20px);
         color: $text-color;
         position: relative;
         transition: all 200ms ease-in-out;
         &:before {
            content: '\2022';
            opacity: 0;
            position: absolute;
            top: -2px; left: -20px;
            transition: all 200ms ease-in-out;
         }
         &.active, &:hover {
            color: $maroon;
            &:before {
               opacity: 1;
            }
         }
      }
      &:last-child {
         margin-bottom: 0;
      }
      &:first-child {
         padding-top: 0;
      }
      &:last-child {
         border-bottom: 0;
         padding-bottom: 0;
      }
   }
}

// Sidebar CTA
.sidebar-cta__image {
   display: block;
   width: 100%;
   height: auto;
}

.sidebar-cta__body {
   padding: $padding-content-sm;
   @include font-size(15px);
   line-height: 1.4rem;
}

.sidebar-cta__headline {
   @extend %headline;
   @include font-size(24px);
}

.sidebar-cta__footer {
   @extend %headline;
   @include font-size(18px);
   color: $red;
   margin-bottom: 0;
   &:hover {
     text-decoration: underline;
     color: $red;
   }
}
