// ==========================================================================
// COMPONENTS/HOME-HERO
// ==========================================================================


.c-home-hero {
	height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 100px 0;
	position: relative;
	text-align: center;

	&:before {
		content: '';
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		background: rgba(31, 31, 31, 0.4);
		top: 0; left: 0;
		z-index: 2;
	}

	@include mq($from: m) {
		height: 700px;
	}
}

.c-home-hero__video-wrap {
	overflow: hidden;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0; left: 0;
	z-index: 1;
}

.c-home-hero__video {
	display: block;
	position: absolute;
	// top: 50%;
	// left: 50%;
	// min-width: 100%;
	// min-height: 100%;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -100;
	object-fit: cover;
	// -webkit-transform: translate(-50%, -50%);
	// transform: translate(-50%,-50%);
}

.c-home-hero__content {
	@extend %wrapper;
	position: relative;
	z-index: 3;
}
	
.c-home-hero__headline {
	font-size: 30px;
  line-height: 40px;
	color: $white;
	max-width: 600px;
	margin-bottom: 40px;

	@include mq($from: sm) {
		font-size: 40px;
		line-height: 50px;
	}

	@include mq($from: m) {
		font-size: 50px;
  	line-height: 65px;
	}
}

// =============================================================================
// OBJECTS/HOME-SECTION
// =============================================================================

.o-home-section {
  display: flex;
	flex-wrap: wrap;
  align-items: center;
  
}

.o-home-section__content {
	width: 100%;
  	padding: $padding-content-md;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;

	// @include mq($from: tweener) {
  	// width: 35%;
	// }

	@include mq($from: l) {
  	padding: $padding-content-md * 2;
	}
}

.o-home-section__cards {
	width: 100%;
  display: flex;
	flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;

	// @include mq($from: tweener) {
  	// width: 65%;
	// }
}

.o-home-section__card {
	width: 100%;

	&:not(:last-child) {
		margin-bottom: 10px;
	}

	@include mq($from: m) {
  		width: calc(33.33% - 5px);

		&:not(:last-child) {
			margin-bottom: 0;
		}
	}
}

.c-home-video {
	width: 100%;
	height: 120px;
	display: flex;
	align-items: flex-end;
	padding: 15px;
	position: relative;
	margin-top: 40px;
	box-sizing: content-box;
}

.c-home-video__thumbnail {
	width: 100px;
	height: 120px;
	position: absolute;
	left: 15px;
	bottom: 15px;
	display: block;
	cursor: pointer;
	z-index: 2;

	img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.c-home-video__btn {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: 50px;
	height: 50px;
	margin-top: -25px;
	margin-left: -25px;

	svg {
		display: block;
		width: 100%;
		height: auto;
	}
}

.c-home-video__content {
	padding: 15px 15px 0 115px;
	position: relative;

	& > * {
		position: relative;
		z-index: 1;
	}

	&:before {
		content: '';
		display: block;
		width: calc(100% + 15px);
		height: calc(100% + 15px);
		background: $wild-sand;
		position: absolute;
		bottom: -15px; left: -15px;
		z-index: 0;
	}
}

.c-home-video__headline {
	@extend %headline;
	color: $maroon;
	font-size: 20px;
	margin-bottom: 3px;
}

.c-home-video__subheadline {
	font-size: 15px;
	line-height: 24px;
}


// =============================================================================
// OBJECTS/HOME-ACCOMMODATIONS
// =============================================================================

.o-home-accommodations {
  @extend %md-section;
	background: $wild-sand;
}

.o-home-accommodations__wrapper {
	@extend %wrapper;
}

.o-home-accommodations__intro {
	text-align: center;
	margin-bottom: 30px;
	max-width: 630px;
	margin-left: auto;
	margin-right: auto;
}

.o-home-accommodations__cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.o-home-accommodations__card {
	width: 100%;

	&:not(:last-child) {
		margin-bottom: 10px;
	}

	@include mq($from: m) {
		width: calc(33% - 5px);

		&:not(:last-child) {
			margin-bottom: 0;
		}
	}

}

.o-home-accommodations__btns {
	margin-top: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	& > * {
		margin: 5px;
	}
}