/*-------------------------------------------
  Global Mixins
-------------------------------------------*/
// The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack/
@mixin clearfix() {
	&::after {
		content: "";
		clear: both;
		display: table;
		// Safari Flex Bug
		flex-basis: 0;
		order: 1;
	}
}
// Convert Pixels to Rem
@function calculateRem($size) {
	$remSize: $size / 16px;
	@return #{$remSize}rem;
}
@mixin font-size($size) {
	font-size: $size; //Fallback in px
	font-size: calculateRem($size);
}
/*-------------------------------------------
  Grid
-------------------------------------------*/
@mixin grid($total-width, $gutter-width, $row-count, $element) {
	#{$element} {
		$g: $gutter-width/$total-width;
		float: left;
		margin-bottom: $g * 100%;
		width: ((1 - ($g * ($row-count - 1))) / $row-count) * 100%;

		&:nth-child(#{$row-count}n) {
			margin-right: 0;
		}
	}

	#{$element}:not(:nth-child(#{$row-count}n)) {
		$g: $gutter-width/$total-width;
		margin-right: $g * 100%;
	}
}
/* USAGE:

ul {
	background: darkblue;
	list-style: none;
	margin: 0 auto;
	max-width: 960px;
	overflow: hidden;

	@include grid(960, 20, 3, li);

	li {
		background: darkred;
		height: 100px;
		text-indent: -999em;

		&:nth-child(2n+2) {
			-webkit-animation: silly2 5s ease-in-out 0s infinite alternate;
		}
		&:nth-child(3n) {
			-webkit-animation: silly 5s ease-in-out 0s infinite alternate;
		}
	}

	@media screen and (min-width: 30em) {
		@include grid(960, 20, 4, li);
	}
	@media screen and (min-width: 40em) {
		@include grid(960, 20, 6, li);
	}

}

*/
/*-------------------------------------------
  Various Aligns
-------------------------------------------*/
@mixin vertical-align($position: relative) {
	position: $position;
	top: 50%;
	transform: translateY(-50%);
}
@mixin reset-vertical-align($position: relative) {
	position: $position;
	top: 0;
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}
@mixin horizontal-align($position: relative) {
	position: $position;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
@mixin reset-horizontal-align($position: relative) {
	position: $position;
	left: 0;
	-webkit-transform: translateX(0%);
	-ms-transform: translateX(0%);
	transform: translateX(0%);
}
@mixin vertical-horizontal-align($position: relative) {
	position: $position;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
@mixin reset-vertical-horizontal-align($position: relative) {
	position: $position;
	top: 0;
	left: 0;
	-webkit-transform: translate(0%, 0%);
	-ms-transform: translate(0%, 0%);
	transform: translate(0%, 0%);
}
/*-------------------------------------------
  Font-face Mixin
  http://codepen.io/javasteve99/pen/hDxpn?editors=1100
-------------------------------------------*/
@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
	 @font-face{
		font-family: $font-family;
		src: url('#{$file-path}.eot');
		src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'), url('#{$file-path}.woff') format('woff'), url('#{$file-path}.ttf') format('truetype'), url('#{$file-path}.svg##{$font-family}') format('svg');
		font-weight: $font-weight;
		font-style: $font-style;
	}
	// Chrome for Windows rendering fix: http://www.adtrak.co.uk/blog/font-face-chrome-rendering/
	@media screen and (-webkit-min-device-pixel-ratio: 0) {
		 @font-face{
			font-family: $font-family;
			src: url('#{$file-path}.svg##{$font-family}') format('svg');
		}
	}
}

/*-------------------------------------------
  Button Reset
-------------------------------------------*/

@mixin buttonReset() {
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  font: inherit;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}