@mixin applyEnvName($name, $bg: #ff0000B0, $color: white) {
    #system-name::after {
        display: inline-block;
        content: "(#{$name} Site)";
        background: $bg;
        color: $color;
        padding: 2px 5px 3px;
        line-height: 1.1;
        margin-top: 1px;
        border-radius: 4px;
        font-size: 13px;
        font-style: italic;
    }

    #global-header:before {
        content: "#{$name} Environment";
        display: block;
        background-color: #cc5643;
        color: white;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        text-align: center;
        padding: 12px 24px;
        font-size: 15px;
        font-weight: 700;
        z-index: 9;
    }
}

body.env-dev,
body.env-local {
    // @include applyEnvName("Dev Site", #ffff00CC, black);
    @include applyEnvName("Dev");
}

body.env-staging {
    @include applyEnvName("Staging");
}