{% extends '_layouts/default.twig' %}
{% set template = 'accommodations' %}

{% set home = 'false' %}
{% set id = 'accommodations' %}
{% set data_page = 'accommodations' %}

{% if entry.headline is defined and entry.headline|length %}
  {% set title = entry.headline %}
{% else %}
  {% set title = entry.title %}
{% endif %}

{% block body %}

    {% include '_partials/banner' %}

    <main class="main main__{{ template }}" role="main">

        <section class="accommodations">
            
            {% if entry.pageLinks|length %}
            <div class="accommodations__grid">
                {% set buckets = entry.pageLinks %}
                {% for bucket in buckets %}
                    {% set image = bucket.image.first() %}
                    <div class="accommodations__grid-item">
                        {% include '_partials/page-link' %}
                    </div>
                {% endfor %}
            </div>
            {% endif %}

        </section>

        {% if entry.accommodationExtras|length %}
        <section class="accommodations__extras">
            {% for block in entry.accommodationExtras.level(1) %}
                <div class="accommodations__extras-col">
                    {% if block.type == "column" %}
                        {{ macros.linkedList(block.linkedList, 'accommodations__extras') }}
                    {% endif %}
                </div>
            {% endfor %}
        </section>
        {% endif %}

    </main>

{% endblock %}
